<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>Green Light</vendor>
  <vendor_url>https://github.com/labj1987/green-light</vendor_url>

  <action id="io.github.labj1987.GreenLight.install">
    <description>Install NVIDIA driver</description>
    <message>Authentication is required to install an NVIDIA driver.</message>
    <icon_name>application-x-executable</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/green-light/privileged-install.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="io.github.labj1987.GreenLight.setup">
    <description>Update Green Light's system components</description>
    <message>Authentication is required to install or update Green Light's system components (install helper and polkit policy).</message>
    <icon_name>application-x-executable</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/green-light/green-light-setup</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
